* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


.App {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg,rgb(12, 19, 222),rgb(240, 60, 60));
}

.input__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.input__button{
  display: flex;
  align-items: center;
  width: 50%;

}

.input__button input {
  width: 100%;
  padding: 20px;
  background: transparent;
  border: 1px solid green;
  box-shadow: 3px 2px 3px pink;
  color: #fff;
}
.input__button input::placeholder {
  color: #ddd;
}

.input__button button {
  padding: 10px 50px;
  margin-left: 1rem;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.select .filter{
  text-align: center;
  margin-block: 1rem;
  padding: 10px 25px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
}
.list__container {
  display: grid;
}

.todos {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0 auto;
  gap: 5rem;

}
.todo__container {
  width: 500px;
  text-align: center;
  color: #fff;
  font-size: 35px;
  background: rgb(6, 196, 199);
}

.not {
  background:rgb(255, 63, 63);
  padding: 50px;
}
.completed {
  background: rgb(9, 232, 9);
  padding: 50px;
}
.todo__container .icon {
  font-size: 40px;
  margin-inline: 25px;
  cursor: pointer;
}